@model PermissionsTerminateForAuthCodeViewModel
@{
    ViewData["Title"] = "支付分-解除用户授权关系（授权协议号）API";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="WeChatPayV3" asp-action="Index">微信支付V3</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<br />
<div class="card">
    <div class="card-body">
        <form asp-controller="WeChatPayV3" asp-action="PermissionsTerminateForAuthCode">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServiceId"></label>
                <input type="text" class="form-control" asp-for="ServiceId" value="500001" />
            </div>
            <div class="form-group">
                <label asp-for="AuthorizationCode"></label>
                <input type="text" class="form-control" asp-for="AuthorizationCode" />
            </div>
            <div class="form-group">
                <label asp-for="Reason"></label>
                <input type="text" class="form-control" asp-for="Reason" value="撤销原因" />
            </div>
            <button type="submit" class="btn btn-primary">提交请求</button>
        </form>
        <hr />
        <form class="form-horizontal">
            <div class="form-group">
                <label>Response:</label>
                <textarea class="form-control" rows="10">@ViewData["response"]</textarea>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
