@model WeChatPayScoreServiceOrderModifyViewModel
@{
    ViewData["Title"] = "支付分-修改支付分订单API";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="WeChatPayV3" asp-action="Index">微信支付V3</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<br />
<div class="card">
    <div class="card-body">
        <form asp-controller="WeChatPayV3" asp-action="ServiceOrderModify">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ServiceId"></label>
                <input type="text" class="form-control" asp-for="ServiceId" value="500001" />
            </div>
            <div class="form-group">
                <label asp-for="OutOrderNo"></label>
                <input type="text" class="form-control" asp-for="OutOrderNo" />
            </div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input type="text" class="form-control" asp-for="Name" value="就餐费用, 服务费" />
            </div>
            <div class="form-group">
                <label asp-for="Amount"></label>
                <input type="text" class="form-control" asp-for="Amount" value="1" />
            </div>
            <div class="form-group">
                <label asp-for="Count"></label>
                <input type="text" class="form-control" asp-for="Count" value="1" />
            </div>
            <div class="form-group">
                <label asp-for="TotalAmount"></label>
                <input type="text" class="form-control" asp-for="TotalAmount" value="1" />
            </div>
            <div class="form-group">
                <label asp-for="Reason"></label>
                <input type="text" class="form-control" asp-for="Reason" value="用户投诉" />
            </div>
            <button type="submit" class="btn btn-primary">提交请求</button>
        </form>
        <hr />
        <form class="form-horizontal">
            <div class="form-group">
                <label>Response:</label>
                <textarea class="form-control" rows="10">@ViewData["response"]</textarea>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
