/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    font-family: Monospaced Number,Chinese Quote,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Helvetica Neue,Helvetica,Arial,sans-serif;
    line-height: 1.5;
    color: #314659;
    font-size: 14px;
    background: #fff;
}

ul, ol {
    margin: 0;
    padding: 0;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 40px !important;
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%
}

#qrCode {
    margin: 15px
}

@media screen and (max-width:767px) {
    .carousel-caption {
        display: none
    }
}

.bg-white {
    background: #fff !important;
}

.navbar-shadow {
    box-shadow: 0 2px 8px #f0f1f2;
    margin-bottom: 40px !important;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #1890ff;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
    color: #1890ff;
}

.navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
    color: #1890ff;
}

footer {
    font-size: 14px;
    background-color: #000;
    padding: 24px 0;
}

    footer a, footer p, footer ul {
        color: hsla(0,0%,100%,.9);
    }

.list-style-none {
    list-style: none !important;
}

.d-flex {
    display: flex !important;
}

.mr-3 {
    margin-right: 16px !important;
}
