@{
    ViewData["Title"] = "QQ钱包";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">首页</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">产品</th>
            <th scope="col">接口</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>付款码支付-提交付款码支付</td>
            <td><a href="https://qpay.qq.com/buss/wiki/1/1119" target="_blank">https://qpay.qq.com/cgi-bin/pay/qpay_micro_pay.cgi</a></td>
            <td><a asp-controller="QPay" asp-action="MicroPay">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>扫码支付-统一下单</td>
            <td><a href="https://qpay.qq.com/buss/wiki/38/1198" target="_blank">https://qpay.qq.com/cgi-bin/pay/qpay_unified_order.cgi</a></td>
            <td><a asp-controller="QPay" asp-action="QrCodePay">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>公众号支付-统一下单</td>
            <td><a href="https://qpay.qq.com/buss/wiki/38/1200" target="_blank">https://qpay.qq.com/cgi-bin/pay/qpay_unified_order.cgi</a></td>
            <td><a asp-controller="QPay" asp-action="PubPay">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>APP支付-统一下单</td>
            <td><a href="https://qpay.qq.com/buss/wiki/38/1194" target="_blank">https://qpay.qq.com/cgi-bin/pay/qpay_unified_order.cgi</a></td>
            <td><a asp-controller="QPay" asp-action="AppPay">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>订单查询</td>
            <td><a href="https://qpay.qq.com/buss/wiki/38/1205" target="_blank">https://qpay.qq.com/cgi-bin/pay/qpay_order_query.cgi</a></td>
            <td><a asp-controller="QPay" asp-action="OrderQuery">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>撤销订单</td>
            <td><a href="https://qpay.qq.com/qpaywiki/showdocument.php?pid=1&docid=168" target="_blank">https://api.qpay.qq.com/cgi-bin/pay/qpay_reverse.cgi</a></td>
            <td><a asp-controller="QPay" asp-action="Reverse">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>关闭订单</td>
            <td><a href="https://qpay.qq.com/buss/wiki/38/1206" target="_blank">https://qpay.qq.com/cgi-bin/pay/qpay_close_order.cgi</a></td>
            <td><a asp-controller="QPay" asp-action="CloseOrder">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>申请退款</td>
            <td><a href="https://qpay.qq.com/buss/wiki/38/1207" target="_blank">https://api.qpay.qq.com/cgi-bin/pay/qpay_refund.cgi</a></td>
            <td><a asp-controller="QPay" asp-action="Refund">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>退款查询</td>
            <td><a href="https://qpay.qq.com/buss/wiki/38/1208" target="_blank">https://qpay.qq.com/cgi-bin/pay/qpay_refund_query.cgi</a></td>
            <td><a asp-controller="QPay" asp-action="RefundQuery">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>对账单下载</td>
            <td><a href="https://qpay.qq.com/buss/wiki/38/1209" target="_blank">https://qpay.qq.com/cgi-bin/sp_download/qpay_mch_statement_down.cgi</a></td>
            <td><a asp-controller="QPay" asp-action="StatementDown">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">11</th>
            <td>企业付款</td>
            <td><a href="https://qpay.qq.com/buss/wiki/206/1215" target="_blank">https://api.qpay.qq.com/cgi-bin/epay/qpay_epay_b2c.cgi</a></td>
            <td><a asp-controller="QPay" asp-action="B2CPay">立即测试</a></td>
        </tr>
    </tbody>
</table>