@{
    ViewData["Title"] = "前言";
}
<p>
    Payment 基于 .NET Core / ASP.NET Core 开发，支持多商户的跨平台支付SDK集。 简化了API调用及相关通知的处理流程。
</p>
<p class="text-danger">
    注: 本Sample仅作为测试用途，基本涵盖了常用的API。实际业务时，请务必配合相关API的文档及说明使用。
</p>
<br />
<h5>NuGet 包:</h5>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Package</th>
            <th scope="col">NuGet</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td><a asp-controller="Alipay" asp-action="Index">支付宝</a></td>
            <td><a href="https://www.nuget.org/packages/Essensoft.AspNetCore.Payment.Alipay" target="_blank">Essensoft.AspNetCore.Payment.Alipay</a></td>
            <td>
                <a href="https://www.nuget.org/packages/Essensoft.AspNetCore.Payment.Alipay" target="_blank">
                    <img src="https://img.shields.io/nuget/v/Essensoft.AspNetCore.Payment.Alipay.svg?style=flat-square" />
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><a asp-controller="WeChatPay" asp-action="Index">微信支付</a></td>
            <td><a href="https://www.nuget.org/packages/Essensoft.AspNetCore.Payment.WeChatPay" target="_blank">Essensoft.AspNetCore.Payment.WeChatPay</a></td>
            <td>
                <a href="https://www.nuget.org/packages/Essensoft.AspNetCore.Payment.WeChatPay" target="_blank">
                    <img src="https://img.shields.io/nuget/v/Essensoft.AspNetCore.Payment.WeChatPay.svg?style=flat-square" />
                </a>
            </td>
        </tr>
    </tbody>
</table>
