@{
    ViewData["Title"] = "首页";
}
<p>
    Paylink 是基于 .NET Core 、 ASP.NET Core 开发的支付SDK集，它极大简化了API调用及通知的处理流程。
</p>
<p class="text-danger">
    本示例仅作为测试用途。实际业务开发时，请务必配合官方文档及说明使用。
</p>
<br />
<h5>NuGet 包:</h5>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Package</th>
            <th scope="col">NuGet</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td><a asp-controller="Alipay" asp-action="Index">支付宝</a></td>
            <td><a href="https://www.nuget.org/packages/Essensoft.Paylink.Alipay" target="_blank">Essensoft.Paylink.Alipay</a></td>
            <td>
                <a href="https://www.nuget.org/packages/Essensoft.Paylink.Alipay" target="_blank">
                    <img src="https://img.shields.io/nuget/v/Essensoft.Paylink.Alipay.svg?style=flat-square" />
                </a>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><a asp-controller="WeChatPay" asp-action="Index">微信支付</a></td>
            <td><a href="https://www.nuget.org/packages/Essensoft.Paylink.WeChatPay" target="_blank">Essensoft.Paylink.WeChatPay</a></td>
            <td>
                <a href="https://www.nuget.org/packages/Essensoft.Paylink.WeChatPay" target="_blank">
                    <img src="https://img.shields.io/nuget/v/Essensoft.Paylink.WeChatPay.svg?style=flat-square" />
                </a>
            </td>
        </tr>
    </tbody>
</table>
