@{
    ViewData["Title"] = "连连支付";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">首页</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">产品</th>
            <th scope="col">接口</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Web快捷支付</td>
            <td><a href="http://open.lianlianpay.com/#cat=35" target="_blank">https://payment.lianlianpay.com/payment/bankgateway.htm</a></td>
            <td><a asp-controller="LianLianPay" asp-action="WebQuickPay">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>H5快捷支付</td>
            <td><a href="http://open.lianlianpay.com/#cat=36" target="_blank">https://wap.lianlianpay.com/payment.htm</a></td>
            <td><a asp-controller="LianLianPay" asp-action="H5QuickPay">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>订单查询</td>
            <td><a href="http://open.lianlianpay.com/#cat=36" target="_blank">https://queryapi.lianlianpay.com/orderquery.htm</a></td>
            <td><a asp-controller="LianLianPay" asp-action="OrderQuery">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>退款</td>
            <td><a href="http://open.lianlianpay.com/#cat=74" target="_blank">https://traderapi.lianlianpay.com/refund.htm</a></td>
            <td><a asp-controller="LianLianPay" asp-action="Refund">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>退款查询</td>
            <td><a href="http://open.lianlianpay.com/#cat=74" target="_blank">https://queryapi.lianlianpay.com/refundquery.htm</a></td>
            <td><a asp-controller="LianLianPay" asp-action="RefundQuery">立即测试</a></td>
        </tr>
    </tbody>
</table>