@{
    ViewData["Title"] = "京东支付";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">首页</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">产品</th>
            <th scope="col">接口</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>在线支付接口PC版</td>
            <td><a href="https://payapi.jd.com/interface/saveOrder.html" target="_blank">https://wepay.jd.com/jdpay/saveOrder</a></td>
            <td><a asp-controller="JDPay" asp-action="SaveOrderPC">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>在线支付接口H5版</td>
            <td><a href="https://payapi.jd.com/interface/saveOrder.html" target="_blank">https://h5pay.jd.com/jdpay/saveOrder</a></td>
            <td><a asp-controller="JDPay" asp-action="SaveOrderH5">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>扫码支付-统一下单</td>
            <td><a href="https://payapi.jd.com/interface/uniorder.html" target="_blank">https://paygate.jd.com/service/uniorder</a></td>
            <td><a asp-controller="JDPay" asp-action="QrCodePay">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>交易查询</td>
            <td><a href="https://payapi.jd.com/interface/query.html" target="_blank">https://paygate.jd.com/service/query</a></td>
            <td><a asp-controller="JDPay" asp-action="Query">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>退款申请</td>
            <td><a href="https://payapi.jd.com/interface/refund.html" target="_blank">https://paygate.jd.com/service/refund</a></td>
            <td><a asp-controller="JDPay" asp-action="Refund">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>退款查询</td>
            <td><a href="https://payapi.jd.com/interface/queryRefund.html" target="_blank">https://paygate.jd.com/service/queryRefund</a></td>
            <td><a asp-controller="JDPay" asp-action="QueryRefund">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>代付交易</td>
            <td>https://mapi.jdpay.com/npp10/defray_pay</td>
            <td><a asp-controller="JDPay" asp-action="DefrayPay">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>代付交易查询</td>
            <td>https://mapi.jdpay.com/npp10/trade_query</td>
            <td><a asp-controller="JDPay" asp-action="TradeQuery">立即测试</a></td>
        </tr>
    </tbody>
</table>