@model LianLianPayRefundViewModel
@{
    ViewData["Title"] = "退款";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="LianLianPay" asp-action="Index">连连支付</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<br />
<div class="card">
    <div class="card-body">
        <form asp-controller="LianLianPay" asp-action="Refund">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NoRefund"></label>
                <input type="text" class="form-control" asp-for="NoRefund" value="@DateTime.Now.ToString("yyyyMMddHHmmssfff")" />
            </div>
            <div class="form-group">
                <label asp-for="DtRefund"></label>
                <input type="text" class="form-control" asp-for="DtRefund" value="@DateTime.Now.ToString("yyyyMMddHHmmss")" />
            </div>
            <div class="form-group">
                <label asp-for="MoneyRefund"></label>
                <input type="text" class="form-control" asp-for="MoneyRefund" value="0.01" />
            </div>
            <div class="form-group">
                <label asp-for="NoOrder"></label>
                <input type="text" class="form-control" asp-for="NoOrder" />
            </div>
            <div class="form-group">
                <label asp-for="DtOrder"></label>
                <input type="text" class="form-control" asp-for="DtOrder" />
            </div>
            <div class="form-group">
                <label asp-for="OidPayBill"></label>
                <input type="text" class="form-control" asp-for="OidPayBill" />
            </div>
            <div class="form-group">
                <label asp-for="NotifyUrl"></label>
                <input type="text" class="form-control" asp-for="NotifyUrl" value="http://*/notify/lianlianpay/refund" />
            </div>
            <button type="submit" class="btn btn-primary">提交请求</button>
        </form>
        <hr />
        <form class="form-horizontal">
            <div class="form-group">
                <label>Response:</label>
                <textarea class="form-control" rows="10">@ViewData["response"]</textarea>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
