@{
    ViewData["Title"] = "微信支付";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">首页</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">产品</th>
            <th scope="col">接口</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>刷卡支付-提交刷卡支付</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/micropay.php?chapter=9_10&index=1" target="_blank">https://api.mch.weixin.qq.com/pay/micropay</a></td>
            <td><a asp-controller="WeChatPay" asp-action="MicroPay">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>公众号支付-统一下单</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/jsapi.php?chapter=9_1" target="_blank">https://api.mch.weixin.qq.com/pay/unifiedorder</a></td>
            <td><a asp-controller="WeChatPay" asp-action="PubPay">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>扫码支付-统一下单</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/native.php?chapter=9_1" target="_blank">https://api.mch.weixin.qq.com/pay/unifiedorder</a></td>
            <td><a asp-controller="WeChatPay" asp-action="QrCodePay">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>APP支付-统一下单</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/app/app.php?chapter=9_1" target="_blank">https://api.mch.weixin.qq.com/pay/unifiedorder</a></td>
            <td><a asp-controller="WeChatPay" asp-action="AppPay">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>H5支付-统一下单</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/H5.php?chapter=9_20&index=1" target="_blank">https://api.mch.weixin.qq.com/pay/unifiedorder</a></td>
            <td><a asp-controller="WeChatPay" asp-action="H5Pay">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>小程序支付-统一下单</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/wxa/wxa_api.php?chapter=9_1" target="_blank">https://api.mch.weixin.qq.com/pay/unifiedorder</a></td>
            <td><a asp-controller="WeChatPay" asp-action="MiniProgramPay">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>查询订单</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/micropay.php?chapter=9_2" target="_blank">https://api.mch.weixin.qq.com/pay/orderquery</a></td>
            <td><a asp-controller="WeChatPay" asp-action="OrderQuery">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>撤销订单</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/micropay.php?chapter=9_11&index=3" target="_blank">https://api.mch.weixin.qq.com/secapi/pay/reverse</a></td>
            <td><a asp-controller="WeChatPay" asp-action="Reverse">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>关闭订单</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/native.php?chapter=9_3" target="_blank">https://api.mch.weixin.qq.com/pay/closeorder</a></td>
            <td><a asp-controller="WeChatPay" asp-action="CloseOrder">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>申请退款</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/micropay.php?chapter=9_4" target="_blank">https://api.mch.weixin.qq.com/secapi/pay/refund</a></td>
            <td><a asp-controller="WeChatPay" asp-action="Refund">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">11</th>
            <td>查询退款</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/micropay.php?chapter=9_5" target="_blank">https://api.mch.weixin.qq.com/pay/refundquery</a></td>
            <td><a asp-controller="WeChatPay" asp-action="RefundQuery">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">12</th>
            <td>下载对账单</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/micropay.php?chapter=9_6" target="_blank">https://api.mch.weixin.qq.com/pay/downloadbill</a></td>
            <td><a asp-controller="WeChatPay" asp-action="DownloadBill">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">13</th>
            <td>下载资金账单</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/micropay.php?chapter=9_18&index=7" target="_blank">https://api.mch.weixin.qq.com/pay/downloadfundflow</a></td>
            <td><a asp-controller="WeChatPay" asp-action="DownloadFundFlow">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">14</th>
            <td>企业付款到零钱</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/tools/mch_pay.php?chapter=14_2" target="_blank">https://api.mch.weixin.qq.com/mmpaymkttransfers/promotion/transfers</a></td>
            <td><a asp-controller="WeChatPay" asp-action="Transfers">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">15</th>
            <td>查询企业付款零钱</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/tools/mch_pay.php?chapter=14_3" target="_blank">https://api.mch.weixin.qq.com/mmpaymkttransfers/gettransferinfo</a></td>
            <td><a asp-controller="WeChatPay" asp-action="GetTransferInfo">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">16</th>
            <td>企业付款到银行卡</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/tools/mch_pay.php?chapter=24_2" target="_blank">https://api.mch.weixin.qq.com/mmpaysptrans/pay_bank</a></td>
            <td><a asp-controller="WeChatPay" asp-action="PayBank">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">17</th>
            <td>查询企业付款银行卡</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/tools/mch_pay.php?chapter=24_3" target="_blank">https://api.mch.weixin.qq.com/mmpaysptrans/query_bank</a></td>
            <td><a asp-controller="WeChatPay" asp-action="QueryBank">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">18</th>
            <td>获取RSA加密公钥</td>
            <td><a href="https://pay.weixin.qq.com/wiki/doc/api/tools/mch_pay.php?chapter=24_7&index=4" target="_blank">https://fraud.mch.weixin.qq.com/risk/getpublickey</a></td>
            <td><a asp-controller="WeChatPay" asp-action="GetPublicKey">立即测试</a></td>
        </tr>
    </tbody>
</table>