@model WeChatPayPayBankViewModel
@{
    ViewData["Title"] = "企业付款到银行卡";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="WeChatPay" asp-action="Index">微信支付</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<br />
<div class="card">
    <div class="card-body">
        <form asp-controller="WeChatPay" asp-action="PayBank">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PartnerTradeNo"></label>
                <input type="text" class="form-control" asp-for="PartnerTradeNo" value="@DateTime.Now.ToString("yyyyMMddHHmmssfff")" />
            </div>
            <div class="form-group">
                <label asp-for="BankNo"></label>
                <input type="text" class="form-control" asp-for="BankNo" />
            </div>
            <div class="form-group">
                <label asp-for="TrueName"></label>
                <input type="text" class="form-control" asp-for="TrueName" />
            </div>
            <div class="form-group">
                <label asp-for="BankCode"></label>
                <input type="text" class="form-control" asp-for="BankCode" />
            </div>
            <div class="form-group">
                <label asp-for="Amount"></label>
                <input type="text" class="form-control" asp-for="Amount" value="100" />
            </div>
            <div class="form-group">
                <label asp-for="Desc"></label>
                <input type="text" class="form-control" asp-for="Desc" value="企业付款到银行卡付款说明" />
            </div>
            <button type="submit" class="btn btn-primary">提交请求</button>
        </form>
        <hr />
        <form class="form-horizontal">
            <div class="form-group">
                <label>Response:</label>
                <textarea class="form-control" rows="10">@ViewData["response"]</textarea>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
