@model WeChatPayProfitSharingViewModel
@{
    ViewData["Title"] = "分账-单次分账";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="WeChatPay" asp-action="Index">微信支付</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<br />
<div class="card">
    <div class="card-body">
        <form asp-controller="WeChatPay" asp-action="ProfitSharing">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TransactionId"></label>
                <input type="text" class="form-control" asp-for="TransactionId">
            </div>
            <div class="form-group">
                <label asp-for="OutOrderNo"></label>
                <input type="text" class="form-control" asp-for="OutOrderNo" value="@DateTime.Now.ToString("yyyyMMddHHmmssfff")">
            </div>
            <div class="form-group">
                <label asp-for="Receivers"></label>
                <input type="text" class="form-control" asp-for="Receivers">
            </div>
            <button type="submit" class="btn btn-primary">提交请求</button>
        </form>
        <hr />
        <form class="form-horizontal">
            <div class="form-group">
                <label>Response:</label>
                <textarea class="form-control" rows="10">@ViewData["response"]</textarea>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
