@{
    ViewData["Title"] = "支付宝";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">首页</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">产品</th>
            <th scope="col">接口</th>
            <th scope="col">#</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>当面付-扫码支付</td>
            <td><a href="https://docs.open.alipay.com/api_1/alipay.trade.precreate" target="_blank">alipay.trade.precreate</a></td>
            <td><a asp-controller="Alipay" asp-action="PreCreate">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>当面付-二维码/条码/声波支付</td>
            <td><a href="https://docs.open.alipay.com/api_1/alipay.trade.pay" target="_blank">alipay.trade.pay</a></td>
            <td><a asp-controller="Alipay" asp-action="Pay">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>App支付</td>
            <td><a href="https://docs.open.alipay.com/api_1/alipay.trade.app.pay" target="_blank">alipay.trade.app.pay</a></td>
            <td><a asp-controller="Alipay" asp-action="AppPay">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>手机网站支付</td>
            <td><a href="https://docs.open.alipay.com/api_1/alipay.trade.wap.pay" target="_blank">alipay.trade.wap.pay</a></td>
            <td><a asp-controller="Alipay" asp-action="WapPay">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>电脑网站支付</td>
            <td><a href="https://docs.open.alipay.com/270/alipay.trade.page.pay" target="_blank">alipay.trade.page.pay</a></td>
            <td><a asp-controller="Alipay" asp-action="PagePay">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>交易查询</td>
            <td><a href="https://docs.open.alipay.com/api_1/alipay.trade.query" target="_blank">alipay.trade.query</a></td>
            <td><a asp-controller="Alipay" asp-action="Query">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>交易退款</td>
            <td><a href="https://docs.open.alipay.com/api_1/alipay.trade.refund" target="_blank">alipay.trade.refund</a></td>
            <td><a asp-controller="Alipay" asp-action="Refund">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>退款查询</td>
            <td><a href="https://docs.open.alipay.com/api_1/alipay.trade.fastpay.refund.query" target="_blank">alipay.trade.fastpay.refund.query</a></td>
            <td><a asp-controller="Alipay" asp-action="RefundQuery">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>交易关闭</td>
            <td><a href="https://docs.open.alipay.com/api_1/alipay.trade.close" target="_blank">alipay.trade.close</a></td>
            <td><a asp-controller="Alipay" asp-action="Close">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>统一转账</td>
            <td><a href="https://docs.open.alipay.com/api_28/alipay.fund.trans.uni.transfer" target="_blank">alipay.fund.trans.uni.transfer</a></td>
            <td><a asp-controller="Alipay" asp-action="Transfer">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">11</th>
            <td>查询统一转账订单</td>
            <td><a href="https://docs.open.alipay.com/api_28/alipay.fund.trans.common.query" target="_blank">alipay.fund.trans.common.query</a></td>
            <td><a asp-controller="Alipay" asp-action="TransQuery">立即测试</a></td>
        </tr>
        <tr>
            <th scope="row">12</th>
            <td>余额查询</td>
            <td><a href="https://docs.open.alipay.com/api_28/alipay.fund.account.query" target="_blank">alipay.fund.account.query</a></td>
            <td><a asp-controller="Alipay" asp-action="AccountQuery">立即测试</a></td>
        </tr>
</table>