@model AlipayTradeRefundViewModel
@{
    ViewData["Title"] = "交易退款";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Alipay" asp-action="Index">支付宝</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<br />
<div class="card">
    <div class="card-body">
        <form asp-controller="Alipay" asp-action="Refund">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OutRequestNo"></label>
                <input type="text" class="form-control" asp-for="OutRequestNo" value="@DateTime.Now.ToString("yyyyMMddHHmmssfff")" />
            </div>
            <div class="form-group">
                <label asp-for="OutTradeNo"></label>
                <input type="text" class="form-control" asp-for="OutTradeNo" />
            </div>
            <div class="form-group">
                <label asp-for="TradeNo"></label>
                <input type="text" class="form-control" asp-for="TradeNo" />
            </div>
            <div class="form-group">
                <label asp-for="RefundAmount"></label>
                <input type="text" class="form-control" asp-for="RefundAmount" />
            </div>
            <div class="form-group">
                <label asp-for="RefundReason"></label>
                <input type="text" class="form-control" asp-for="RefundReason" />
            </div>
            <button type="submit" class="btn btn-primary">提交请求</button>
        </form>
        <hr />
        <form class="form-horizontal">
            <div class="form-group">
                <label>Response:</label>
                <textarea class="form-control" rows="10">@ViewData["response"]</textarea>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
