@model GatewayPayFrontConsumeFrontConsumeViewModel
@{
    ViewData["Title"] = "跳转网关页面支付 - 消费接口";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="UnionPay" asp-action="Index">银联支付</a></li>
        <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
    </ol>
</nav>
<br />
<div class="card">
    <div class="card-body">
        <form asp-controller="UnionPay" asp-action="GatewayPayFrontConsume" target="_blank">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrderId"></label>
                <input type="text" class="form-control" asp-for="OrderId" value="@DateTime.Now.ToString("yyyyMMddHHmmssfff")" />
            </div>
            <div class="form-group">
                <label asp-for="TxnTime"></label>
                <input type="text" class="form-control" asp-for="TxnTime" value="@DateTime.Now.ToString("yyyyMMddHHmmss")" />
            </div>
            <div class="form-group">
                <label asp-for="TxnAmt"></label>
                <input type="text" class="form-control" asp-for="TxnAmt" value="1" />
            </div>
            <div class="form-group">
                <label asp-for="CurrencyCode"></label>
                <input type="text" class="form-control" asp-for="CurrencyCode" value="156" />
            </div>
            <div class="form-group">
                <label asp-for="PayTimeOut"></label>
                <input type="text" class="form-control" asp-for="PayTimeOut" value="@DateTime.Now.AddDays(7).ToString("yyyyMMddHHmmss")" />
            </div>
            <div class="form-group">
                <label asp-for="FrontUrl"></label>
                <input type="text" class="form-control" asp-for="FrontUrl" value="http://*/unionpay/gatewaypayfrontconsumereturn" />
            </div>
            <div class="form-group">
                <label asp-for="BackUrl"></label>
                <input type="text" class="form-control" asp-for="BackUrl" value="http://*/notify/unionpay/gatewaypayfrontconsume" />
            </div>
            <button type="submit" class="btn btn-primary">提交请求</button>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
