@CHARSET "UTF-8";
/*! index页面 */
.ui-tabs-vertical {
    width: 51.5em;
}

    .ui-tabs-vertical .ui-tabs-nav {
        padding: .2em .1em .2em .2em;
        float: left;
        width: 11em;
    }

        .ui-tabs-vertical .ui-tabs-nav li {
            clear: left;
            width: 100%;
            border-bottom-width: 1px !important;
            border-right-width: 0 !important;
            margin: 0 -1px .2em 0;
        }

            .ui-tabs-vertical .ui-tabs-nav li a {
                display: block;
            }

            .ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
                padding-bottom: 0;
                padding-right: .1em;
                border-right-width: 1px;
                border-right-width: 1px;
            }

    .ui-tabs-vertical .ui-tabs-panel {
        padding: 1.2em;
        float: right;
        width: 37.5em;
    }

.ui-tabs {
    font-family: 微软雅黑;
}

div#header {
    width: inherit;
    height: 3em;
}

div#wrapper {
    font-family: 微软雅黑;
    width: 62em;
    margin: 0 auto;
    font-size: 16px;
    color: #5E5E5E;
}

h1, h2, h3, h4, h5, h6, h7, .ui-tooltip {
    font-family: 微软雅黑 !important;
    color: #555 !important;
}


/*! 各个接口的页面 */
hr {
    height: 1px;
    border: none;
    border-top: 1px dashed #9DC45F;
}

.api-form {
    margin-left: auto;
    margin-right: auto;
    background: #F8F8F8;
    padding: 30px 30px 20px 30px;
    color: #666;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

    .api-form p {
        display: block;
        margin: 0px 0px 5px;
    }

        .api-form p > label {
            float: left;
            width: 10em;
            text-align: right;
            padding-right: 0.5em;
            margin-top: .1em;
            color: #5E5E5E;
        }

    .api-form input[type="text"] {
        border: 1px solid #E5E5E5;
        ;
        color: #555;
        height: 20px;
        line-height: 15px;
        margin-bottom: 16px;
        margin-right: 6px;
        margin-top: 2px;
        outline: 0 none;
        padding: 5px 0px 5px 5px;
        width: 65%;
        border-radius: 4px;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    }

    .api-form input.button {
        font-family: 微软雅黑;
        background-color: #9DC45F;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-border-radius: 5px;
        border: none;
        padding: 10px 25px 10px 25px;
        color: #FFF;
        text-shadow: 1px 1px 1px #949494;
    }

        .api-form input.button:hover {
            font-family: 微软雅黑;
            background-color: #80A24A;
        }

    .api-form .showFaqBtn {
        font-family: 微软雅黑;
        float: right;
        background-color: transparent;
        color: inherit;
        border: none;
        padding: 10px 25px 10px 25px;
    }

.faq {
    font-size: 14px;
    font-weight: normal;
}
